<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cpqd.instrumentacao.sige">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SIGE"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.LoadingActivity"/>
        <activity android:name=".activities.ItemInfoActivity"/>
        <activity android:name=".activities.TranspInfoActivity"/>
        <activity android:name=".activities.TranspButtonActivity"/>
        <activity android:name=".activities.AmostraButtonLabActivity"/>
    </application>
</manifest>
